[submodule "qtefun"]
	path = qtefun
	url = git@github.com:duolabmeng6/qtefun.git
[submodule "pyefun"]
	path = pyefun
	url = git@github.com:duolabmeng6/pyefun.git
[submodule "qtAutoUpdateApp"]
	path = qtAutoUpdateApp
	url = git@github.com:duolabmeng6/qtAutoUpdateApp.git
